.background {
  z-index: -1;

  position: fixed;
  top:0;
  left: 0;
  min-height: 102vh;
  width: 100%;
}
.background_gradient {
  z-index: -2;

  position: fixed;
  top:0;
  left: 0;
  min-height: 102vh;
  width: 100%;
}